<ion-header>
  <ion-toolbar>
    <ion-title>
      Music Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="music">
    <ion-card-header>
      <ion-card-title>{{ music.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label><strong>Artist:</strong></ion-label>
        <ion-note>{{ music.artist }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label><strong>Album:</strong></ion-label>
        <ion-note>{{ music.album }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label><strong>Year:</strong></ion-label>
        <ion-note>{{ music.year }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label><strong>Genre:</strong></ion-label>
        <ion-chip>
          <ion-label>{{ music.genre }}</ion-label>
        </ion-chip>
      </ion-item>
      <ion-item>
        <ion-label><strong>Duration:</strong></ion-label>
        <ion-note>{{ music.duration }}</ion-note>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
