<ion-header>
  <ion-toolbar>
    <ion-title>
      Music Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="music">
    <ion-card-header>
      <ion-card-title>{{ music.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Artist:</strong> {{ music.artist }}</p>
      <p><strong>Album:</strong> {{ music.album }}</p>
      <p><strong>Year:</strong> {{ music.year }}</p>
      <p><strong>Genre:</strong> {{ music.genre }}</p>
      <p><strong>Duration:</strong> {{ music.duration }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>

